<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      Title
      <input type="text" 
      name="title"
      ngModel 
      matInput
      required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      Content
      <textarea matInput 
      ngModel
      name="content"
      rows="6" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" >Save Post</button>
  </form>
</mat-card>